.new-tweet {
  background-color: #eee;
  margin: 1em 2em;
  padding: 1em;
  border: thin solid #ddd;
  border-radius: 5px;
  display: none;
}

/* "Compose Tweet" */

.new-tweet h2 {
  margin: 0 0 20px 0;
  border-bottom: thin solid black;
}

/* "What are you humming about?" */

.new-tweet textarea {
  padding: 5px;
  width: 100%;
}

#flash {
  display: none;
  color: #b20000;
  margin-left: 5px;
  font-size: 14px;
}

/* 140 */

.new-tweet .counter {
  float: right;
  margin: 5px;
  font-size: 14px;
  font-style: italic;
}
